input{
    margin: 20px;
    padding: 10px;
    font-size: 16px;
}
button{
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
textarea{
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}   